<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>List name</th>
                <th>Post address</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{ range where $.Page.Site.Pages "Type" "maillist" }}
            {{ if .Params }}
            <tr>
                <td>
                    <a href="{{ .Params.websitelink}}">{{ .Params.listname }}</a>
                </td>
                <td>
                    {{ .Params.emailaddress }}
                </td>
                <td>
                    {{ .Params.description }}
                </td>
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>