/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.align-center {
  align-items: center;
}
.flex {
  display: flex;
}

#footer {
  #padding: 44px 270px 50px;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h2 {
  font-family: "Microsoft YaHei";
  font-size: 40px;
}

footer .container img {
  width: 16px;
  height: 8px;
}

#footer h2 {
  margin-top: 0px;
  margin-bottom: 16px;
}

footer svg {
  width: 14px;
}
footer svg path {
  fill: #fff;
}

footer .notice {
  width: 570px;
  font-size: 12px;
  color: #909090;
  line-height: 17px;
}
footer .notice span {
  color: #5F9BDE;
}

.client-header h2 {
  font-family: "Microsoft YaHei";
  font-size: 40px;
  border-bottom: 0;
  text-transform: none;
}

.owl-carousel .owl-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
}