{{ if isset .Site.Params "cards" }}
{{ if .Site.Params.cards.enable }}
{{ if gt (len .Site.Params.card) 0 }}
        <div class="bannernew">
                <div class="content">
                    <h2>{{ .Site.Params.cards.title }}</h2>
                    <p> {{ .Site.Params.Cards.description }}</p>
                </div>
                <div class="cards">
                        <ul>
                            {{ range .Site.Params.card }}
                            <li>
                                 <a href="{{ .url }}">
                                    <img src="{{ .image }}" alt="{{ .title }}">
                                    <h3>{{ .title }}</h3>
                                    <p>{{ .description }}</p>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                </div>
        </div>
{{ end }}
{{ end }}
{{ end }}
