{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<div class=" action action1" >
  <div class="active_box">
    <div class="col-md-12">
      <div class="text-center client-header" id="members">
        <h2 >{{ i18n "main_partner_title" }}</h2><br>
      </div>
      <div class="memebersBanner text-center">
        <h4 class="homeMemebersBlock">{{ i18n "main_partner_subtitle" }}</h4>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}
