{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<div class="container" id="memebers">
  <div class="row">
    <div class="col-md-12">
      <div class="heading text-center client-header">
        <h2>{{ i18n "main_partner_title" }}</h2>
      </div>

      <!--<p class="lead">
        {{ .Site.Params.clients.subtitle }}
      </p>-->

      <ul class="owl-carousel customers align-center">
        {{ range .Site.Data.clients }}
        <li class="item" title="{{ .name }}">
          {{ if .url }}
          <a href="{{ .url }}" target="_blank">
            <img src="{{ .image }}" alt="{{ .name }}" />
          </a>
          {{ else }}
          <img src="{{ .image }}" alt="{{ .name }}" />
          {{ end }}
        </li>
        {{ end }}
      </ul>
      <!-- /.owl-carousel -->
    </div>
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}
