{{ if isset .Site.Params "emails" }}
{{ if .Site.Params.emails.enable }}
{{ if gt (len .Site.Data.emails) 0 }}

<div class="e_mail">
        <h2>E-mail Subscription</h2>
        <ul>
                {{ range .Site.Data.emails }}
                <li>
                        <div>
                                <h3>{{ .emailaddress }}</h3>
                                <p> {{ .description }}</p>
                        </div>

                        <a href="{{ .websitelink}}" target="_blank">
                                <div class="btn">{{ .buttontext }} </div>
                        </a>
                </li>
                {{ end }}
        </ul>
</div>

{{ end }}
{{ end }}
{{ end }}