{{ if isset .Site.Params "events" }}
{{ if .Site.Params.events.enable }}
        <div class="events active">
                <h2>
                    Upcoming Events
                    <p>more ></p>
                </h2>

                <ul>
                {{ $posts := .Paginate (where .Data.Pages "Type" "events") }}
                {{ range first 4 $posts.Pages }}

                <li>
                        <h6>
                            <span>EVENTS</span> <i>|</i> <span>{{ .Date.Format .Site.Params.date_format }}</span>
                        </h6>
                        <p>{{ .Title }}</p>
                </li>
                {{ end }}
            </ul>
        </div>

{{ end }}
{{ end }}
