<footer>
    <div class="foot">
        <div class="contact">
            <h2>{{ .Site.Params.author | safeHTML }}</h2>
            <div class="flex align-center">
                <p><a href="mailto:{{ .Site.Params.email | safeHTML }}">{{ .Site.Params.email | safeHTML }}</a></p>
            </div>
        </div>
        <div class="notice">
            {{ .Site.Params.copyright.text | safeHTML }}
        </div>
        <div class="qr-code">
            <img id="imgRight" src="/img/banners/QRcode.jpg" alt="" >
            <p>{{ i18n "main_footer_QRcode" }}</p>
        </div>
    </div>
</footer>
