<div class="reason">
        <h2>Why openEulerOS</h2>
        <div class="content_why">
            <div class="bg">
                <h3>OpenEuler</h3>
                <p>An innovative, free, and open source platform</p>
            </div>
            <div class="detail">
                <p>For users, we offer a consistent manageable platform that suits a wide variety of deployments.
                </p>
                <p> For open source communities, we offer a solid, predictable base to build upon, along with
                    extensive resources to build, test, release, and maintain their code.</p>
            </div>
        </div>
</div>