{{ if isset .Site.Params "why" }}
{{ if .Site.Params.why.enable }}
<div class="reason">
    {{ $whys := where .Data.Pages "Type" "intro" }}
    {{ range first 1 $whys }}
        <h2>{{ .Params.question }}</h2>
        <div class="content_why">
            <div class="bg">
                <h3>{{ .Params.Title }}</h3>
                <p>{{ .Params.Brief }}</p>
            </div>
            <div class="detail">
                {{ .Content }}
            </div>
        </div>
    {{ end }}
</div>
{{ end }}
{{ end }}
