<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
    <div id="all">
        <header>
            {{ partial "nav.html" . }}
        </header>
            {{ partial "breadcrumbs.html" . }}
            
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" id="sigSection" style="margin-bottom: 30px;">
                        <div class="versionMain">
                            <div class="version_main">
                                    <table class="version_table">
                                        <thead>
                                            <tr>
                                                <th>{{ i18n "versionNumber" }}</th>
                                                <th>{{ i18n "architecture" }}</th>
                                                <th>{{ i18n "releaseTime" }}</th>
                                                <th>{{ i18n "endOfLife" }}</th>
                                                <th>{{ i18n "imagesDownload" }}</th>
                                                <th>{{ i18n "packageDownload" }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{ range where $.Page.Site.Pages "Type" "versions" }}
                                        {{ if .Params }}
                                        {{ if .Params.isVisible}}
                                            <tr>
                                                <td class="c_467fbf">{{ .Params.version}}</td>
                                                <td>{{ .Params.architecture}}</td>
                                                <td>{{ .Params.releaseDate}}</td>
                                                <td>{{ .Params.endOfLife}}</td>
                                                <td>{{ .Params.imageUrl}}</td>
                                                <td>{{ .Params.pacdageUrl}}</td>
                                        {{ end }}
                                        {{ end }}
                                        {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                    <!-- /.col-md-9 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
    <!-- <div id="content">
            <div class="versionMain">
                <div class="version_main">
                    <div class="section">
                        <table class="version_table">
                            <thead>
                                <tr>
                                    <th>{{ i18n "versionNumber" }}</th>
                                    <th>{{ i18n "architecture" }}</th>
                                    <th>{{ i18n "releaseTime" }}</th>
                                    <th>{{ i18n "endOfLife" }}</th>
                                    <th>{{ i18n "imagesDownload" }}</th>
                                    <th>{{ i18n "packageDownload" }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{ range where $.Page.Site.Pages "Type" "versions" }}
                            {{ if .Params }}
                            {{ if .Params.isVisible}}
                                <tr>
                                    <td class="c_467fbf">{{ .Params.version}}</td>
                                    <td>{{ .Params.architecture}}</td>
                                    <td>{{ .Params.releaseDate}}</td>
                                    <td>{{ .Params.endOfLife}}</td>
                                    <td>{{ .Params.imageUrl}}</td>
                                    <td>{{ .Params.pacdageUrl}}</td>
                            {{ end }}
                            {{ end }}
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}



</body>

</html>
