<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
    <div id="all">
        <header>
            {{ partial "nav.html" . }}
        </header>
            {{ partial "breadcrumbs.html" . }}
            
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"  class="downloadWholeBlock">
                        <div id="downloadBlock">
                            <div class="downloadContentBlock">
                                <h3>{{ i18n "download_title"}}</h3>
                                <h5>{{ i18n "download_issues"}}</h5>
                                <h5><a href="https://gitee.com/openeuler/community-issue">https://gitee.com/openeuler/community-issue</a></h5>
                            </div>
                            <div class="downloadButtonBlock">
                                <a href="https://"><button type="button" class="btn btn-primary btn-lg btn-download" >{{ i18n "download_iso_button"}}</button></a>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.col-md-9 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}



</body>

</html>
